{% extends 'main/base.html' %}

{% block content %}
<div class="about-container">
    <h1>О нас</h1>
    <p>
        Наш сервис работает в сфере ремонта мобильных устройств и электроники уже более 11 лет, заслужив доверие тысяч довольных клиентов. Мы являемся командой квалифицированных специалистов, которые решают технические задачи любой сложности. Наша цель — предоставить быстрые, надежные и доступные услуги, используя только качественные запчасти и современные методы ремонта. Мы всегда ориентированы на удовлетворение потребностей клиентов и гарантируем долгий срок службы ваших устройств. Выбирая нас, вы получаете профессиональный подход и высокое качество обслуживания.
    </p>
</div>
{% endblock %}
